<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{ main.title }}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="CSS/main.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
            <div class="container">
                <a class="navbar-brand text-uppercase font-weight-normal" href="/">Todo<span
                        class="font-weight-lighter">List</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
                    aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggler">
                    <ul class="navbar-nav mr-auto smooth-scroll">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/todos">Todos
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav nav-flex-icons">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fab fa-github light-green-text-2"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fab fa-twitter light-green-text-2"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fab fa-linkedin light-green-text-2"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="intro-section" class="view">
            <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
                <div class="container px-md-3 px-sm-0">
                    <div class="row wow fadeIn">
                        <div class="col-md-12 mb-4 white-text text-center wow fadeIn">
                            <div class="dropdown">
                                <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Add Todo
                                </a>
                                <div class="dropdown-menu">
                                    <form method="POST" class="px-4 py-3">
                                    <div class="form-group">
                                        <div class="md-form">
                                            <i class="fas fa-pencil-alt prefix"></i>
                                            <textarea name="added_todo" id="add-todo-form" class="md-textarea form-control" rows="3"></textarea>
                                            <label for="add-todo-form">Enter Todo</label>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Add</button>
                                    </form>
                                </div>
                            </div>
                            {% for todo in todos -%}
                                <h1>{{ todo[0] }}</h1>
                            {%- endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>

    </main>

    <footer class="page-footer font-small blue fixed-bottom rgba-gradient lighten-5 z-depth-1">
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="#"> DraxCodes</a>
        </div>
    </footer>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
</body>

</html>